* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    height: 100vh;
    width: 100vw;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7a/Cassius_Marcellus_Coolidge_-_Poker_Game_%281894%29.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    filter: blur(50px);
    animation-name: blur;
    animation-duration: 5000ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.countdown {
    font-size: 1.5rem;
    position: absolute;
    left: 48vw;
    top: 48vh;
    animation-name: countdown;
    animation-duration: 5000ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes blur {
    0% {
        filter: blur(50px)
    }

    100% {
        filter: blur(0px)
    }

}

@keyframes countdown {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}